@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center;
  }
  .textGray {
    @apply text-gray-600;
  }
  .bottomShadow {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
      0px 4px 3px 0px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
  }
  .imageShadow {
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04),
      0px 4px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
}
